
   
.container > div{
    border:solid;
    /* making all the div have borders */
}

.container{
    display: grid;
     /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* define how many rows there will be */
    grid-template-rows: 50px 60px 150px 75px 150px 700px 250px 350px; ;
    grid-template-areas: 
    /* name our template section */
    "nav nav nav nav"
    "INS INS INS INS"
    "header header header header"
    "key key key key"
    "sum sum sum sum"
    "para para para para"
    "ed ed ed ed"
    "sk sk sk sk";
    grid-gap: 5px;
    /* gap between grids */
    
}
.nav{
    grid-area: nav;
}
.INS{
    grid-area: INS;
    background:rgba(0, 0, 0, 0.644);
    margin-bottom:-15px;
}
.header{
    grid-area:header;
    background-color: rgba(255, 0, 0, 0.596);
    opacity:0.3;
    /* start out at 0 for hover  */
}
.key{
    grid-area:key;
    background:rgba(0, 0, 0, 0.644);
}
.sum{
    grid-area:sum;
    font-size:20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.596);
    opacity:0.3;
   
}

.para{
    grid-area:para;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity:0.3;
    background-color: rgba(255, 0, 0, 0.596);
}
.para:hover{
    opacity:1;
    transition:2s;
}
.ed{
    grid-area:ed;
}
.sk{
    grid-area:sk;
}

#info{
    text-align:center;
    font-size: 20px;
    margin-top:18px;
   
}
.header:hover{
    opacity:1;
    /* appears from 0 to 1 from hovering */
    transition:2s;
    /* smooth out the transition */
}
.sum:hover{
    opacity:1;
    /* appears from 0 to 1 from hovering */
    transition:2s;
    /* smooth out the transition */
}
.frame{
    display:flex;
    /* moving the item via flex */
    justify-content: center;
    /* wanted the city name to be centered */
   
 
    
    /* don't want to take attention away from background pic. */
    
}
#summary{
    /* keyframe font that moves across the header */
    font-weight: bold;
    /* thick font */
    text-shadow: 3px 3px 0px #000;
    color:white;
    /* color of font */
    font-family: bold italic;
    /* close to original supreme font */
    font-size:25px;
    animation:move 25s;
    /* keyfram animation name, span over 10secs, no repeat */
    transition:2s;
    /* transition to make the cycle smoother */
}

@keyframes move {
    /* 0% is the point at which is starts to animate*/
    0% {
        margin-left:-1000px;
        /* wanted the keyframe to start at the leftside  */
     
    }
    50%{
        margin-left:900px;
        /* chose 50% for smoother finish, 900px to travel to rightside
        and finish back at the center (content already centered) */
   
      
    }
    
}
#hoverinstruct{
    color:white;
    font-weight:bold;
    text-shadow: 3px 3px 0px #000;
    /* text shadow added for visual pop */
    text-align: center;
    
}

.headerline{
    color:black;
    font-size: 25px;
   
    text-align: center;
    text-shadow: 3px 3px 0px rgba(12, 11, 11, 0.74);
    border: solid;
    
}


.h2a{
    color:black;
    text-shadow: 3px 3px 0px rgba(202, 186, 186, 0.493);
    font-size: 50px;
    margin: 100px;
    text-align: center;
    font-weight:bold;
   
}
.align {
    text-align: right;
    color: aqua;
    margin-right:10px;
}
.header1{
    font-size:15px;
}
.burger{
    /* <!-- parent div of the parllax --> */
    background: url("images/retroburger.jpeg") 100% fixed no-repeat;
    /* the parallax image */
   background-size: 100% 100%;
   /* no repeat */
   border:solid;
   /* /border shown */
  
}

.lilburger {
    /* child div used as a padding size parallax photos */
    padding: 400px;
    /* sizing of the photo */
}
.freeb{
    /* <!-- parent div of the parllax --> */
    background: url("images/future.jpeg") 100% fixed;
    background-size: 100% 100%;
    /* the parallax image */
    
    border:solid;
    /* /border shown */

}
.lilfreeb{
    /* child div used as a padding size parallax photos */
    padding: 400px;
    /* sizing of the photo */

}
#h1{
    padding:0px;
    
}