* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.contentContainer {
    height: 98vh;
    width: 97vw;
    color: white;
    background-color: black;
}


.firstSlideContainer {
    width: 100%;
    height: 50vw;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 100vw 100vw;
    z-index: 5;
}

#nameSplash {
    display: flex;
    flex: 1;
    margin: 0;
}

#bam {
   
    background-position: center;
    background-size: 100% 100%;
    border:solid white;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1.5s;
    animation-fill-mode: forwards;
  width:100vw;
  overflow: hidden;
   

}

#welcome {
    font-size: 100px;
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#titleName {
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#titleName2 {
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 3;
}

#titleName3 {
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}
#aboutDavid{
    font-size:50px;
    margin-bottom: 50px;
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
 }
#titleName4 {
    opacity: 0;
    /* Animation Stuff */
    font-size:30px;
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    
}

#titleName5 {
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    font-size: 25px;
    margin-bottom: 100px;
}
#titleName6 {
    opacity: 0;
    /* Animation Stuff */
    animation: creativeFadeIn ease 1s;
    animation-fill-mode: forwards;
    animation-delay: 7.5s;
}




/* Developer Coming Down Animation */
@keyframes animationFrames{
    0% {
      opacity:0;
      transform:  translate(0px,-1000px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
  }
  /* Designer Going Up Animation */
@keyframes designerFlyIn{
    0% {
      opacity:0;
      transform:  translate(0px, 1000px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
  }
  @keyframes creativeFadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
/* END NAME SECTION */



/* START ABOUT ME SECTION */
#me {
    background-color: #08131E;
}



.aboutTextBox {
    width: 800px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.story {
    font-size: large;
}
/* END ABOUT ME SECTION */

/* START SKILLS SECTION */

#aboutSection{
    background-image: url(./images/kawsjpg.jpg);
    background-size: 100% 100%;
    width:100%;
    background-color: rgba(84, 117, 209, 0.582);
    border:solid white;
}

.gridStyle {
    height: 200px;
    
    
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

/* logos inside of the skills table in the skills section */
#html {
    background-image: url(http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png); 
}

#css {
    background-image: url(https://i2.wp.com/www.worldeatingdisordersday.org/wp-content/uploads/2016/03/css-logo.png);
}

#javaScript {
    background-image: url(http://pluspng.com/img-png/logo-javascript-png-html-code-allows-to-embed-javascript-logo-in-your-website-587.png);
}

#express {
    background-image: url(https://cdn-web.studio3t.com/knowledge-base/wp-content/uploads/expressjs-logo.png?x97270);
}

#nodejs {
    background-image: url(https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png);
}

#react {
    background-image: url(https://logos-download.com/wp-content/uploads/2016/09/React_logo_wordmark.png);
}

#python {
    background-image: url(https://www.python.org/static/community_logos/python-logo-inkscape.svg);
}

#mongoDB {
    background-image: url(https://doc.octoperf.com/monitoring/create-connection/mongodb/img/mongodb-logo.png);
}

#django {
    background-image: url(http://www.indiainfotech.com/hire/img/django.png);
}

/* END SKILLS SECTION */

/* START PROJECTS SECTION */

#projexts {
    background-color: #08131E;
}

#myCarousel {
    border: 5px solid royalblue;
}

.pic {
    max-width: 70vw;
    max-height: 70vh;
}

.carousel-caption {
    margin-bottom: 330px;
}

/* END PROJECTS SECTION */

/* START CALL TO ACTION */

#action {
    background-color: #08131E;
}

.lineBoi {
    border-bottom: 5px solid white;
    border-width: 10px;
    padding-bottom: 40px;
    
}

.email {
    height: 150px;
    width: 150px; 
    background-image: url("images/email.png");
    background-position: center;
    background-size: cover;
}

.resume {
    height: 150px;
    width: 150px;
    background-image: url("images/resume.png");
    background-position: center;
    background-size: cover;
}

.gitHub {
    height: 150px;
    width: 150px;
    background-image: url("images/github.png");
    background-position: center;
    background-size: cover;
}

.phone {
    height: 150px;
    width: 150px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/rcons-phone/16/handset_round-2-512.png");
    background-position: center;
    background-size: cover;
}

#movingFont{
    /* keyframe font that moves across the header */
    font-weight: bold;
    /* thick font */
    text-shadow: 3px 3px 0px #000;
    color:white;
    /* color of font */
    font-family: bold italic;
    /* close to original supreme font */
    font-size:35px;
    animation:move 7s;
    /* keyfram animation name, span over 10secs, no repeat */
    transition:1s;
    /* transition to make the cycle smoother */
    text-align: center;
}
@keyframes move {
    /* 0% is the point at which is starts to animate*/
    0% {
        margin-left:-700px;
        /* wanted the keyframe to start at the leftside  */
     
    }
    50%{
        margin-left:650px;
        /* chose 50% for smoother finish, 900px to travel to rightside
        and finish back at the center (content already centered) */
   
      
    }
    
}
.photoContainer{
display:flex;
justify-content: center;
}
.photo{
    width:300px;
    height:200px;
   
    background-image: url(./images/profilePic.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
    
}
span{
    color:rgba(233, 159, 159, 0.808);
    
}

.iconContainer{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.icon1{
height:100px;
width:100px;
border:solid;
background-image: url(./images/emailicon.png);
background-size: 100% 100%;
}

.icon2{
    height:100px;
    width:100px;
    border:solid;
    background-image: url(./images/phoneiconpng.png);
    background-size: 100% 100%;
}
.icon3{
    height:100px;
width:100px;
border:solid;
background-image: url(./images/githubicon.png);
background-size: 100% 100%;
}
.icon4{
    height:100px;
    width:100px;
    border:solid;
    background-image: url(./images/GAicon.jpeg);
    background-size: 100% 100%;
}
.icon5{
    height:100px;
    width:100px;
    border:solid;
    background-image: url(./images/linkedinicon.png);
    background-size: 100% 100%;
}
.infoContainer{
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
}
.iconINFO{
   
    width:140px;
    height:35px;
   
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 20px;
}

.iconsection{
    height:650px;
    border:white solid;
}
#skills{
    background-color: black;
    border:solid white;
    width:100vw;
}